@model eGonullu.ViewModels.ActivityDetailsViewModel

<h1>Aktivite Sahibi: @Model.Activity.User.Name</h1>
<h1>Aktivite Adı: @Model.Activity.Name</h1>
<h1>Aktivite Yeri: @Model.Activity.City / @Model.Activity.State</h1>

<hr/>

<h1>Katılımcılar</h1>
<ul>
    @foreach (var participant in Model.Activity.Participants)
    {
        <li>@participant.User.Name</li>
    }
</ul>