@using eGonullu.Data
@model eGonullu.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Anasayfa";
    string currentCity = Context.Request.RouteValues.GetValueOrDefault("city")?.ToString();
    string currentState = Context.Request.RouteValues.GetValueOrDefault("state")?.ToString();
}
<div class="jumbotron">
    <h1 class="display-3">Merhaba, Gönüllü!</h1>
    <p class="lead">
        Sosyal Sorumluluk alanında bir projeniz, duyurunuz, etkinliğiniz veya bu alanda herhangi
        çalışmanız varsa, E-Gönüllü'de yer alabilirsiniz.
    </p>
    <hr class="my-4">
    <p>Bulunduğunuz bölgedeki etkinlikleri aşağıdaki filtreleri kullanarak ulaşabilirsiniz!</p>
    
    <div class="btn-group">
        <div class="dropdown m-2">
            <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @(currentCity == null ? "İl Seçiniz" : @currentCity)
            </a>

            <div class="dropdown-menu" style="overflow-y:auto; max-height:80vh" aria-labelledby="dropdownMenuLink">
                @foreach (var city in CityStateData.GetCities())
                {
                    <a class="dropdown-item" asp-action="Index" asp-route-city="@city">@city</a>
                }
            </div>
        </div>
        @if (currentCity != null)
        {
            <div class="dropdown m-2">
                <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @(currentState == null ? "İlçe seçiniz" : @currentState)
                </a>
                <div class="dropdown-menu" style="overflow-y:auto; max-height:80vh" aria-labelledby="dropdownMenuLink">
                    @foreach (var state in CityStateData.GetStates(currentCity))
                    {
                        <a class="dropdown-item" asp-action="Index" asp-route-city="@currentCity" asp-route-state="@state">@state</a>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div class="row row-cols-1 row-cols-md-5 m-3">

</div>