@model eGonullu.ViewModels.ActivityDetailsViewModel

<h1>Aktivite Sahibi: @Model.ActivityUser.Name</h1>
<h1>Aktivite Adı: @Model.Activity.Name</h1>
<h1>Aktivite Yeri: @Model.Activity.City / @Model.Activity.State</h1>

<hr/>

<h1>Katılımcılar</h1>
<ul>
    @if (Model.Participants.Any())
    {
        foreach (var participant in Model.Participants)
        {
            <li>@participant.Name</li>
        }
    }
</ul>